
<div class="jumbotron" style="max-width:40%;margin-left:30%">
    <h1 align="center">TEST</h1>
    <table align="center">
      <tr>
        <th align="center" style="padding-right:20px">TEST NAME: </th>
        <td align="center"><%= @test.name %></td>
      </tr>
      <tr>
        <th align="center" style="padding-right:20px">READING: </th>
        <td align="center"><%= @test.comment %></td>
      </tr>
    </table>
<br>
    <span align="center"><%= button_to "EDIT TEST", edit_test_path(@test), method: "get", class: "button"%></span>
    </div>
