

    <h1 align="center">TEST</h1>
    <h3>TEST NAME: <%= @test.name %></h3>
    <h3>READING: <%= @test.reading %></h3>
    <p>COMMENT: <%= @test.comment %></p>
    <span align="center"><%= button_to "EDIT TEST", edit_test_path(@test), method: "get", class: "button"%></span>
    
