<div><% if @errors   %>
<ul><% @errors.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
</div>
<div>
  <h1>System Reports: </h1>
  <%= form_for @report do |f| %>
  <%= collection_select(:report, :account_id, current_rep.accounts, :id, :name) %>
  <%= f.submit(class: "button") %>
  <% end %>
